* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
main {
  min-height: 100vh;
  background-color: #0c0e12;
  font-family: Inter, sans-serif;
  line-height: 1.5;
}
.header {
  display: flex;
  gap: 16px;
  width: 100%;
  height: 64px;
  align-items: center;
  padding: 0 10px 0 10px;
  background-color: #16181d;
  position: relative;
  border-radius: 8px;
  border: none;
}
.exportMmapOptions {
  display: flex;
  justify-content: center;
  height: 100%;
  border: none;
}
.btn_header {
  color: #f0f3f8;
  border: none;
  background-color: #3b82f6;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}
.btn_header:hover {
  background-color: #60a5fa;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}
.mindmap_core {
  display: flex;
  min-height: 100vh;
}
.side_left_bar {
  flex: 1 1 0;
  background-color: #16181d;
  padding: 24px;
  border-radius: 12px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.side_left_bar div {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #a0a6b2;
}
.mindmap_nodes {
  flex: 20 1 0;
  position: relative;
  overflow-x: auto;
  width: 100%;
  padding: 32px;
}
.node {
  position: relative;
  padding: 16px;
  border-radius: 8px;
  width: 160px;
  height: 60px;
  position: absolute;
  text-align: center;
  color: #f0f3f8;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.4);
}
.node:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}
.branch {
  position: absolute;
  border: 4px solid #ff3366;
  top: 0;
  left: 50%;
}
.core_node {
  background-color: #b026ff;
}
.child_node {
  background-color: #35a29f;
}
.add_child_btn {
}
.delete_node_btn {
}
